
.icon-up-open:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-elenco-rounded:before { content: '\e804'; } /* '' */
.icon-envelope:before { content: '\e805'; } /* '' */
.icon-facebook-like:before { content: '\e806'; } /* '' */
.icon-filter:before { content: '\e807'; } /* '' */
.icon-buildings:before { content: '\e808'; } /* '' */
.icon-calcolatrice:before { content: '\e809'; } /* '' */
.icon-calcolatrice-rounded:before { content: '\e80a'; } /* '' */
.icon-elenco:before { content: '\e80b'; } /* '' */
.icon-gallery:before { content: '\e80c'; } /* '' */
.icon-instagram:before { content: '\e80d'; } /* '' */
.icon-linkedin:before { content: '\e80e'; } /* '' */
.icon-map-pin:before { content: '\e80f'; } /* '' */
.icon-puzzle-piece:before { content: '\e810'; } /* '' */
.icon-share:before { content: '\e811'; } /* '' */
.icon-star-fill:before { content: '\e812'; } /* '' */
.icon-star-line:before { content: '\e813'; } /* '' */
.icon-telefono:before { content: '\e814'; } /* '' */
.icon-three-stars:before { content: '\e815'; } /* '' */
.icon-videocam:before { content: '\e816'; } /* '' */
.icon-left-big:before { content: '\e817'; } /* '' */
.icon-right-big:before { content: '\e818'; } /* '' */
.icon-right-open:before { content: '\e819'; } /* '' */
.icon-left-open:before { content: '\e81a'; } /* '' */
.icon-down-big:before { content: '\e81b'; } /* '' */
.icon-up-big:before { content: '\e81c'; } /* '' */
.icon-bubbles-speech:before { content: '\e81d'; } /* '' */
.icon-whatsapp-round:before { content: '\e81e'; } /* '' */
.icon-twitter-round:before { content: '\e81f'; } /* '' */
.icon-facebook-round:before { content: '\e820'; } /* '' */
.icon-ordina:before { content: '\e821'; } /* '' */
.icon-pin:before { content: '\e822'; } /* '' */
.icon-pin-rounded:before { content: '\e823'; } /* '' */
.icon-print:before { content: '\e824'; } /* '' */
.icon-fullscreen:before { content: '\e825'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */